# Directories #
*mps
*txt
*dat
*oisrc
*plc
*vrp
out.lp
gurobi.log
Intstances/VRP\ Instances
Intstances/Instances\ IRPCS
Intstances/__pycache__

# Results
!Results/results.txt

# MIPLIB Instances
!binkar10_1.mps

# IRP Instances
!Instances/IRPInstances/abs1n25_2.dat
!Instances/IRPInstances/abs3n50_1.dat
!Instances/IRPInstances/abs2n50_3.dat
!Instances/IRPInstances/abs3n100_2.dat
!Instances/IRPInstances/abs4n100_3.dat
!Instances/IRPInstances/abs9n200_2.dat

# IRPCS Instances
!Instances/IRPCSInstances/Inst1.txt
!Instances/IRPCSInstances/Inst2.txt
!Instances/IRPCSInstances/Inst3.txt

# MVRPD Instances
!Instances/MVRPDInstances/ajs1n25_l_6.dat
!Instances/MVRPDInstances/ajs4n75_h_6.dat
!Instances/MVRPDInstances/ajs4n100_l_6.dat
!Instances/MVRPDInstances/ajs3n75_h_6.dat
!Instances/MVRPDInstances/ajs1n100_l_6.dat
!Instances/MVRPDInstances/ajs5n100_h_6.dat
!Instances/MVRPDInstances/ajs4n100_l_6.dat

# OISRC Instances
!Instances/OISRCInstances/instance_4_2_100_1.oisrc
!Instances/OISRCInstances/instance_20_4_200_1.oisrc
!Instances/OISRCInstances/instance_20_4_190_1.oisrc
!Instances/OISRCInstances/instance_15_2_170_1.oisrc
!Instances/OISRCInstances/instance_20_2_190_1.oisrc
!Instances/OISRCInstances/instance_20_2_200_1.oisrc

# VRP Instances
!Instances/VRPInstances/A-n34-k5.vrp